/* Esconde ações para usuários comuns */
.admin-only {
  display: none;
}

/* Mostra células da tabela para ADM */
body.admin td.admin-only,
body.admin th.admin-only {
  display: table-cell;
}

/* Mostra botões para ADM */
body.admin .admin-only button {
  display: inline-block;
  pointer-events: auto;
}
